@import url(utilities.css); 

body{
 background-color: #fff; 
}

header{
    background-color: #000;
    height: 600px;

}
footer{
    background-color: #000;
    height: 300px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{

    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;

}

header .left h1{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    margin-right: 3rem;
}

header nav .right a{
    font-size: 17px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 4rem;
    text-decoration: none;

    
}
header nav .right a:hover{
    color: rgb(52, 167, 202);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    
}

header nav {
    padding: 2rem;

}


.main img{

    width: 509px;

}

.main .right{
    font-size: 17px;
    color: #fff;
    font-family: fantasy;
    line-height: 1.75;
    justify-content:right;
}

span{
    color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif  ;

}

.main .right .contact-btn{
    margin-top: 20px;
    color: #fff;
    font-family: fantasy;
    padding: 0.8rem 2rem;
    font-weight: 500;
    border: 2px solid transparent ;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif  ;
}

.main .right .contact-btn:hover{
    color: #000;
    background: darkturquoise;
    border-color: darkturquoise;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    
}

.boxes{
    padding: 4rem;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-column-gap: 70px;
     
   
 } 


 .project-title{
    font-family: fantasy;
    font-size: 30px ;
    text-decoration: aquamarine solid underline ;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
 
.box-design{
    border: 3px solid #000;
    border-radius: 20px;
    padding: 4rem 6rem;
    background-color: transparent;
    font-family: fantasy;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

.box1:hover{
    color: #fff;
    text-decoration: darkturquoise underline;
    background:#000;
    border-color: #000;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
 }
.box2:hover{
    text-decoration: darkturquoise underline;
    color: #fff;
    background:#000;
    border-color: #000;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;

 }
.box3:hover{
    text-decoration: darkturquoise underline;
    color: #fff;
    background:#000;
    border-color: #000;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
 }

.footer {
    display: flex;
    flex-direction: column;
}
.footer .bottom{    

    align-items: center;

}

.footer nav{
    color: #fff;

}