.flex {
    display: flex;

}

.items-center{
    align-items: center;

}
.items-bottom{

    align-items: flex-end;
}
.justify-between{

    justify-content: space-between;
    
}
.justify-around{
    justify-content: space-around;
}
.nav-right{
    margin-right: 0;

}


